MONGO_URI=


PORT=4000

ACCESS_SECRET=
REFRESH_SECRET=

NODE_ENV=
# production or development

NODE_CODE_SENDING_EMAIL_ADDRESS=
NODE_CODE_SENDING_EMAIL_PASSWORD=

HMAC_VERIFICATION_CODE_SECRET=secret

CORS_ORIGINS = 
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ADMIN_KEY=75976456a842eed94ccc4fc9d7bce0c77a810633c2033b6ac7738bdcb358f3ac
# use the key for admin registration

STEADFAST_API_KEY=
STEADFAST_SECRET_KEY=
STEADFAST_AUTH_TOKEN=

MINIO_URL = http://localhost:9000
MINIO_ACCESS_KEY = admin
MINIO_SECRET_KEY = admin12345